[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
psycopg2-binary = "*"
sqlalchemy = "*"

[scripts]
start_dev = "uvicorn app.main:app --reload"
infra_up = "bash -c 'docker-compose --file docker/test/docker-compose.yml --project-name fastapi-social-network up -d --force-recreate --build --remove-orphans'"

[dev-packages]

[requires]
python_version = "3.8"
